<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= title %></title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <% if (locals.tags == "posts") { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/logo.png` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %><%- include('webpack.ejs') %> <% if (page.url == "/") { %>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
    <% } %>

    <style>
      @font-face {
        font-family: Studio-Feixen-Sans;
        src: url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Regular.woff2')
            format('woff2'),
          url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Regular.woff') format('woff'),
          url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
      }
      @font-face {
        font-family: Studio-Feixen-Sans;
        src: url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Bold.woff2') format('woff2'),
          url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Bold.woff') format('woff'),
          url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Bold.ttf') format('truetype');
        font-weight: 800;
        font-display: swap;
      }
      @font-face {
        font-family: Studio-Feixen-Sans;
        src: url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Book.woff2') format('woff2'),
          url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Book.woff') format('woff'),
          url('https://waffles.datacamp.com/fonts/StudioFeixenSans-Book.ttf') format('truetype');
        font-weight: 100;
        font-display: swap;
      }
      @font-face {
        font-family: JetBrainsMonoNL;
        src: url('https://waffles.datacamp.com/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
          url('https://waffles.datacamp.com/fonts/JetBrainsMono-Regular.woff') format('woff'),
          url('https://waffles.datacamp.com/fonts/JetBrainsMonoNL-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
      }

      /*! normalize.css v3.0.2 | MIT License | git.io/normalize */
      html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }
      body {
        margin: 0;
      }
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      main,
      menu,
      nav,
      section,
      summary {
        display: block;
      }
      audio,
      canvas,
      progress,
      video {
        display: inline-block;
        vertical-align: baseline;
      }
      audio:not([controls]) {
        display: none;
        height: 0;
      }
      [hidden],
      template {
        display: none;
      }
      a {
        background-color: transparent;
      }
      a:active,
      a:hover {
        outline: 0;
      }
      :focus {
        outline: 0;
      }
      abbr[title] {
        border-bottom: 1px dotted;
      }
      b,
      strong {
        font-weight: 700;
      }
      dfn {
        font-style: italic;
      }
      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }
      mark {
        background: #ff0;
        color: #000;
      }
      small {
        font-size: 80%;
      }
      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }
      sup {
        top: -0.5em;
      }
      sub {
        bottom: -0.25em;
      }
      img {
        border: 0;
      }
      svg:not(:root) {
        overflow: hidden;
      }
      figure {
        margin: 1em 40px;
      }
      hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
      }
      pre {
        overflow: auto;
      }
      code,
      kbd,
      pre,
      samp {
        font-family: monospace, monospace;
        font-size: 1em;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        color: inherit;
        font: inherit;
        margin: 0;
      }
      button {
        overflow: visible;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      html input[type='button'],
      input[type='reset'],
      input[type='submit'] {
        -webkit-appearance: button;
        cursor: pointer;
      }
      button[disabled],
      html input[disabled] {
        cursor: default;
      }
      button::-moz-focus-inner,
      input::-moz-focus-inner {
        border: 0;
        padding: 0;
      }
      input {
        line-height: normal;
      }
      input[type='checkbox'],
      input[type='radio'] {
        box-sizing: border-box;
        padding: 0;
      }
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        height: auto;
      }
      input[type='search'] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
      }
      input[type='search']::-webkit-search-cancel-button,
      input[type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      fieldset {
        border: 1px solid silver;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
      }
      legend {
        border: 0;
        padding: 0;
      }
      textarea {
        overflow: auto;
      }
      optgroup {
        font-weight: 700;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }
      td,
      th {
        padding: 0;
      }
      html {
        box-sizing: border-box;
      }
      *,
      ::after,
      ::before {
        box-sizing: inherit;
      }
      body {
        -webkit-overflow-scrolling: touch;
      }
      hr {
        background-color: #f7f7fc;
        border: 0;
        height: 1px;
        margin: 32px 0;
      }

      .imo-unstyled {
        border: none;
        padding: 0;
        width: auto;
        overflow: visible;
        background: transparent;
        color: inherit;
        font: inherit;
        line-height: normal;
        cursor: pointer;
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
        -webkit-appearance: none;
      }

      .imo-unstyled::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      .imo-trigger {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 10px;
        border-radius: 5px;
        background-color: navajowhite;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-family: sans-serif;
        z-index: 10500;
      }

      .imo-popup {
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 10000;
        background-color: black;
        color: white;
        font-family: sans-serif;
        padding: 24px;
        overflow-y: auto;
      }

      .imo-popup a:visited,
      imo-popup a {
        color: white;
      }

      .imo-popup .imo-module-dialog {
        left: calc(50% - 200px);
      }

      .imo-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .imo-list {
        margin-left: 16px;
      }

      .imo-list > *:not(:last-child) {
        margin-bottom: 8px;
      }

      .imo-list-container *,
      .imo-modal-container * {
        font-family: sans-serif;
        box-sizing: border-box;
      }

      .imo-module-dialog {
        position: fixed;
        z-index: 30000000;
        top: 30%;
        max-width: 600px;
        margin: 0 auto;
        border: 4px solid navajowhite;
        background-color: white;
        padding: 1em;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
      }

      .imo-module-dialog input {
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
        padding-right: 20px;
      }

      .imo-module-dialog table {
        margin-bottom: 16px;
      }

      .imo-module-dialog table td:first-child {
        text-align: right;
        padding-right: 16px;
        word-break: keep-all;
      }

      .imo-module-dialog table td {
        word-break: break-all;
      }

      .imo-module-dialog.imo-overridden {
        border: 4px solid salmon;
      }

      .imo-table-header-actions {
        display: flex;
        align-items: center;
      }

      .imo-overrides-table {
        border-collapse: collapse;
        margin-top: 32px;
      }

      .imo-overrides-table tr td:first-child {
        display: flex;
        align-items: center;
        padding-right: 32px;
        position: relative;
      }

      .imo-needs-refresh {
        position: absolute;
        right: 8px;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .imo-needs-refresh::before {
        content: '\27F2';
      }

      .imo-status {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        border: 1px solid white;
        margin-right: 8px;
      }

      .imo-disabled-override {
        background-color: lightblue;
      }

      .imo-next-override {
        background-color: darkred;
      }

      .imo-current-override {
        background-color: salmon;
      }

      .imo-default-module {
        background-color: lightgoldenrodyellow;
      }

      .imo-external-override {
        background-color: orange;
      }

      .imo-next-default {
        background-color: darkgoldenrod;
      }

      .imo-dev-lib-override {
        background-color: lightpink;
      }

      .imo-overrides-table tbody tr:hover {
        cursor: pointer;
        background-color: #404040;
      }

      .imo-overrides-table td,
      .imo-overrides-table th {
        line-height: 18px;
        padding: 16px;
        border: 1px solid white;
      }

      .imo-add-new {
        margin-left: 16px;
      }

      .imo-clear-input {
        position: absolute;
        top: 0;
        right: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
      }

      .imo-modal-container {
        font-family: sans-serif;
      }

      .imo-modal {
        background-color: rgba(61, 70, 77, 0.6);
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 20000000;
      }

      .imo-list-search,
      .imo-list-container button,
      .imo-modal-container button {
        font-size: 14px;
        height: 27px;
        line-height: 27px;
      }

      .imo-list-search {
        line-height: 22px;
        border: none;
        padding: 5px;
      }

      .mfe-composer-atlas-body {
        background-color: #f7f3eb;
        margin: 0;
        padding: 0;
      }

      .mfe-composer-atlas-header {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .mfe-composer-atlas-main {
        margin-top: 64px;
        padding: 16px;
      }

      @media screen and (min-width: 996px) {
        .mfe-composer-atlas-main {
          padding: 32px;
        }
      }

      .mfe-app-error {
        padding: 10px;
        border: 1px solid #ff5400;
        background-color: #ff782d;
      }
    </style>
  </head>

  <body class="mfe-composer-atlas-body">
    <div class="mfe-composer-atlas-header">
      <div id="single-spa-application:@dcmfe/mfe-composer-atlas-header">
        <div class="css-6ohctg">
          <a
            aria-label="DataCamp"
            class="css-4s57um"
            data-testid="desktop-logo-nav"
            data-trackid="ds-snowplow-link-main-menu-logo"
            href="/learn"
            ><svg height="24" viewBox="0 0 173 36" width="115.33333333333333" class="css-16yslip">
              <g fill="none" fill-rule="evenodd">
                <path
                  d="M42.56 27.1a5.694 5.694 0 110-11.39 5.694 5.694 0 010 11.39m5.704-20.623v8.853a8.334 8.334 0 100 12.148v1.836h2.632V6.477h-2.632zm73.28 20.622a5.694 5.694 0 110-11.389 5.694 5.694 0 010 11.39m8.333-5.695v-8.247h-2.63v2.172a8.334 8.334 0 100 12.148v1.836h2.631v-7.91h-.001zm20.987-7.634a1.296 1.296 0 011.109-.622h.507c1.075 0 1.947.872 1.947 1.947v14.218h-2.686V17.269c-1.239 2-5.674 9.25-7.003 11.424a1.296 1.296 0 01-1.108.62h-.548a1.298 1.298 0 01-1.298-1.297V17.238a1909.582 1909.582 0 00-7.31 11.954l-.074.122h-2.574v-16.16h2.684v.033l-.062 11.147 6.438-10.56a1.3 1.3 0 011.11-.622h.51c1.073 0 1.944.869 1.947 1.942 0 2.972.014 8.383.014 9.17l6.397-10.493zm-37.92 12.541a8.331 8.331 0 11.21-9.502l-2.524 1.312a5.533 5.533 0 10-.379 6.88l2.693 1.31zm51.542.8a5.693 5.693 0 01-5.68-5.352v-.682a5.694 5.694 0 115.684 6.036m0-14.028a8.298 8.298 0 00-5.684 2.24v-2.168h-2.632V35.91h2.632v-8.4a8.333 8.333 0 105.684-14.425M75.277 15.68v9.938c0 .589.478 1.067 1.067 1.067h3.064v2.629h-3.062a3.7 3.7 0 01-3.696-3.696l-.01-9.938h-2.838v-2.56h2.838V8.702h2.635v4.428h4.672v2.55h-4.67zm12.757 11.418a5.694 5.694 0 110-11.39 5.694 5.694 0 010 11.39m5.702-13.941v2.173a8.334 8.334 0 100 12.148v1.836h2.632v-16.16l-2.632.003zM60.285 27.099a5.694 5.694 0 110-11.389 5.694 5.694 0 010 11.39m5.702-13.942v2.172a8.334 8.334 0 100 12.148v1.836h2.63v-16.16l-2.63.004z"
                  fill="#05192D"
                ></path>
                <path
                  d="M11.7 8.514v8.332L2.857 21.89V3.44l8.841 5.074zm2.86 17.507v-7.51l11.84-6.757-2.88-1.65-8.96 5.112V7.68a1.44 1.44 0 00-.718-1.242L3.056.256A2.066 2.066 0 000 2.07v21.184a2.067 2.067 0 002.971 1.866l.082-.042 8.64-4.932v6.72c.002.513.276.987.721 1.243L23.502 34.4l2.88-1.651L14.56 26.02z"
                  fill="#05192d"
                ></path>
              </g></svg
            ><svg height="24" viewBox="0 0 27 36" width="18" class="css-h9053u">
              <g fill="none" fill-rule="evenodd">
                <path
                  d="M11.7 8.514v8.332L2.857 21.89V3.44l8.841 5.074zm2.86 17.507v-7.51l11.84-6.757-2.88-1.65-8.96 5.112V7.68a1.44 1.44 0 00-.718-1.242L3.056.256A2.066 2.066 0 000 2.07v21.184a2.067 2.067 0 002.971 1.866l.082-.042 8.64-4.932v6.72c.002.513.276.987.721 1.243L23.502 34.4l2.88-1.651L14.56 26.02z"
                  fill="#05192d"
                ></path>
              </g></svg
          ></a>
          <div class="css-14b3z5a">
            <button
              aria-label="Open Navigation"
              class="css-to8y5x"
              data-testid="open-left-navigation"
            >
              <svg viewBox="0 0 18 18" aria-hidden="true" height="24" role="img" width="24">
                <path
                  fill="currentColor"
                  d="M4 6a1 1 0 110-2h10a1 1 0 010 2H4zm0 4a1 1 0 110-2h10a1 1 0 010 2H4zm0 4a1 1 0 010-2h10a1 1 0 010 2H4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div class="css-1wb6a45">
            <div class="css-1j7bh0d">
              <div class="css-usbojj">
                <a class="css-5c83u2" href="/learn"><span class="css-mg4o7w">Learn</span></a
                ><a class="css-1h9y43j" href="/workspace"
                  ><span class="css-mkqriv">Workspace</span></a
                ><a class="css-1h9y43j" href="/career"
                  ><span class="css-mkqriv">Career Hub</span></a
                >
              </div>
            </div>
            <div class="css-1joq58b">
              <button class="css-12lotqn" type="button">
                <span class="css-8hivhr">Learn</span
                ><svg viewBox="0 0 18 18" aria-hidden="true" height="18" role="img" width="18">
                  <path
                    fill="currentColor"
                    d="M8.244 12.155l-4.95-4.947a1 1 0 111.415-1.415l4.294 4.291 4.293-4.279a.998.998 0 011.413.003c.39.392.388 1.025-.003 1.415l-5.002 4.986a.998.998 0 01-1.46-.054z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="css-1qgfgoz">
            <div class="css-13ngadw">
              <form role="search">
                <div class="css-p31vqf">
                  <input
                    aria-label="search"
                    autocomplete="off"
                    data-testid="search-input"
                    name="search"
                    placeholder="Search Catalog"
                    type="search"
                    class="css-mgb87h"
                    value=""
                  /><svg
                    viewBox="0 0 18 18"
                    aria-hidden="false"
                    class="css-sc2fsy"
                    height="18"
                    role="img"
                    width="18"
                  >
                    <title>Search</title>
                    <path
                      fill="#05192d"
                      d="M13.26 12.303l4.408 3.953a1 1 0 01-1.336 1.488L11.78 13.66a7.5 7.5 0 111.482-1.358zM7.5 13a5.5 5.5 0 100-11 5.5 5.5 0 000 11z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <div title="clear" class="css-a6d6sg">
                    <svg viewBox="0 0 18 18" aria-hidden="false" height="18" role="img" width="18">
                      <title>Circle</title>
                      <path
                        fill="currentColor"
                        d="M9 16A7 7 0 109 2a7 7 0 000 14zm0 2A9 9 0 119 0a9 9 0 010 18zm1.414-9l2.122 2.121a1 1 0 01-1.415 1.415L9 10.414l-2.121 2.122a1 1 0 11-1.415-1.415L7.586 9 5.464 6.879A1 1 0 016.88 5.464L9 7.586l2.121-2.122a1 1 0 011.415 1.415L10.414 9z"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="css-t5z4v6">
            <div class="css-v8q7yn">
              <a
                aria-label="Slack Community"
                class="css-to8y5x"
                data-testid="slack-link"
                href="https://www.datacamp-staging.com/slack/join"
                ><svg viewBox="0 0 18 18" aria-hidden="true" height="18" role="img" width="18">
                  <g fill="none" fill-rule="evenodd">
                    <path
                      fill="#36C5F0"
                      d="M6.625 4.735c1.041 0 1.891.85 1.891 1.89 0 1.041-.85 1.891-1.89 1.891H1.89C.85 8.516 0 7.666 0 6.626c0-1.041.85-1.891 1.89-1.891h4.735zm0-4.735c1.041 0 1.891.85 1.891 1.89v1.892h-1.89c-1.041 0-1.891-.85-1.891-1.891C4.735.85 5.585 0 6.625 0z"
                    ></path>
                    <path
                      fill="#2EB67D"
                      d="M16.11 4.735c1.04 0 1.89.85 1.89 1.89 0 1.041-.85 1.891-1.89 1.891h-1.892v-1.89c0-1.041.85-1.891 1.891-1.891zM11.374 0c1.04 0 1.89.85 1.89 1.89v4.735c0 1.041-.85 1.891-1.89 1.891-1.041 0-1.891-.85-1.891-1.89V1.89c0-1.04.85-1.891 1.89-1.891z"
                    ></path>
                    <path
                      fill="#E01E5A"
                      d="M6.625 9.484c1.041 0 1.891.85 1.891 1.89v4.735c0 1.04-.85 1.891-1.89 1.891-1.041 0-1.891-.85-1.891-1.89v-4.735c0-1.041.85-1.891 1.89-1.891zm-2.843 0v1.89c0 1.041-.85 1.891-1.891 1.891-1.04 0-1.891-.85-1.891-1.89 0-1.041.85-1.891 1.89-1.891h1.892z"
                    ></path>
                    <path
                      fill="#ECB22E"
                      d="M11.375 14.218c1.04 0 1.89.85 1.89 1.891 0 1.04-.85 1.891-1.89 1.891-1.041 0-1.891-.85-1.891-1.89v-1.892h1.89zm4.734-4.734c1.04 0 1.891.85 1.891 1.89 0 1.041-.85 1.891-1.89 1.891h-4.735c-1.041 0-1.891-.85-1.891-1.89 0-1.041.85-1.891 1.89-1.891h4.735z"
                    ></path>
                  </g></svg></a
              ><a
                aria-label="Help"
                class="css-to8y5x"
                data-testid="help-link"
                href="https://support.datacamp.com"
                ><svg viewBox="0 0 18 18" aria-hidden="true" height="18" role="img" width="18">
                  <path
                    fill="currentColor"
                    d="M9 16A7 7 0 109 2a7 7 0 000 14zm0 2A9 9 0 119 0a9 9 0 010 18zm0-4a1 1 0 110-2 1 1 0 010 2zm.998-3.992a1 1 0 11-2 0v-.72c.002-.07.002-.07.009-.14.058-.479.275-.705.696-1.005.017-.012.44-.298.554-.385.34-.259.472-.46.472-.718 0-.624-.424-.968-.887-.968-.28 0-.617.142-1.018.47a1 1 0 01-1.267-1.548c.734-.6 1.498-.922 2.285-.922 1.486 0 2.887 1.136 2.887 2.968 0 .99-.472 1.708-1.259 2.308-.105.08-.327.234-.472.333v.327z"
                    fill-rule="evenodd"
                  ></path></svg
              ></a>
              <div class="css-1u4hpl4">
                <div class="css-pwea72">
                  <button
                    aria-label="Notifications"
                    class="css-to8y5x"
                    data-testid="notifications-link"
                  >
                    <svg viewBox="0 0 18 18" aria-hidden="true" height="18" role="img" width="18">
                      <path
                        fill="currentColor"
                        d="M10.995 2.14c2.764.494 3.874 2.202 4.71 5.79.67 2.877.983 4.081 1.537 5.32.501.423.752.984.758 1.725v.047C17.983 17.582 15.038 18 9 18c-6.035 0-8.98-.418-9-2.974v-.053c.006-.648.2-1.159.583-1.56a27.52 27.52 0 00.916-2.778c.147-.534.278-1.064.428-1.71.039-.164.285-1.247.355-1.543.794-3.347 1.9-4.86 4.72-5.276a2 2 0 113.992.034zm-1.75 1.845a2.02 2.02 0 01-.505-.002c-3.102.027-3.77.735-4.512 3.86-.068.286-.312 1.362-.353 1.535a45.228 45.228 0 01-.447 1.786c-.11.397-.224.787-.346 1.173C4.533 12.072 6.502 12 9 12c2.407 0 4.322.066 5.756.308-.293-.95-.581-2.134-.999-3.924-.804-3.449-1.541-4.345-4.512-4.399zM9 16c3.866 0 7-.448 7-1s-3.134-1-7-1-7 .448-7 1 3.134 1 7 1z"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div>
              <div class="css-b90n05">
                <button
                  aria-label="My Account"
                  data-testid="right-dropdown"
                  data-trackid="ds-snowplow-li-main-menu-my-account"
                  class="css-1pujf8g"
                >
                  <div class="css-94p7uq">
                    <img
                      alt="Profile avatar"
                      src="https://assets.datacamp.com/users/avatars/001/542/728/medium/unnamed.jpg?1602872687"
                      class="css-1l4w7hg"
                    />
                  </div>
                  <svg
                    viewBox="0 0 18 18"
                    aria-hidden="false"
                    class="css-1p9m6wx"
                    height="18"
                    role="img"
                    width="18"
                  >
                    <title>Down Chevron</title>
                    <path
                      fill="currentColor"
                      d="M8.244 12.155l-4.95-4.947a1 1 0 111.415-1.415l4.294 4.291 4.293-4.279a.998.998 0 011.413.003c.39.392.388 1.025-.003 1.415l-5.002 4.986a.998.998 0 01-1.46-.054z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
